body{
    font-size: 13px;
}
.logo{
    width: 170px;
}
.navbar-custom{
    background-color: #1E4485;
}
.bi-round-shp {
    border: solid 1px #fff;
    border-radius: 50px;
    width: 27px;
    height: 27px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
}
.navbar-custom2{
    background-color: #FFC71A;
}
.footer{
    background-color: #f9f9f9;
    padding: 10px 0;
}
.custom-cards {
    border: none;
    box-shadow: 0px 1px 5px #dfdfdf;
    text-decoration: none;
    min-height: 100%;
}
.custom-cards .card-title{
    font-size: 1rem;
    font-weight: 700;
}
.custom-cards .bg-image img {
    border-radius: 0.375rem 0.375rem 0 0;
}
.form-search{
    position: relative;
    margin-top: -6px;
    margin-bottom: 6px;
}
.form-search .bi{
    position: absolute;
    right: 14px;
    top: 9px;
}
@media screen and (max-width: 767px) {
    .car-img img{
        height: 210px;
    }
    .copymodeltitle{
        padding-top: 12px;
    }
}
@media screen and (max-width: 300px) {
    .logo{
        width: 120px;
    }
}